/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-size: 62.5%;
}
p {
  font-size: 1.8rem;
}
a {
  text-decoration: none;
  font-weight: 700;
  color: black;
}
.container {
  max-width: 960px;
  margin: 0 auto;
  background: #fcfcfc;
  display: flex;
  justify-content: space-between;
}
.container .aside {
  max-width: 320px;
  background: #f7f7f7;
}
.container .aside header h1 {
  line-height: 6.5rem;
  text-align: center;
  font-size: 3.4rem;
  text-decoration: underline;
}
.container .aside header h3 {
  text-align: center;
  font-size: 2.4rem;
  margin: 0 auto 20px auto;
}
.container .aside .headerImg {
  width: 80%;
  margin: 0 auto 20px auto;
}
.container .aside .headerImg img {
  width: 100%;
  border-radius: 20px;
}
.container .aside h3 {
  text-align: center;
  font-size: 2.4rem;
  margin: 0 auto 10px auto;
}
.container .aside p {
  width: 90%;
  margin: 0 auto;
  margin: 0 auto 10px auto;
}
.container .aside .contact {
  margin-top: 30px;
}
.container .aside .contact h3 {
  margin: 0 auto 20px auto;
}
.container .aside .contact ul {
  width: 90%;
  margin: 0 auto;
  font-size: 1.8rem;
}
.container .aside .contact ul li {
  width: 80%;
  margin: 0 auto 10px auto;
}
.container .aside .social {
  margin-top: 30px;
}
.container .aside .social h3 {
  margin: 0 auto 20px auto;
}
.container .aside .social ul {
  width: 90%;
  margin: 0 auto;
  font-size: 1.8rem;
}
.container .aside .social ul li {
  width: 80%;
  margin: 0 auto 10px auto;
}
.container .main {
  max-width: 640px;
}
.container .main .textholder {
  width: 90%;
  margin: 0 auto;
}
.container .main .textholder h2 {
  font-size: 2.8rem;
  line-height: 8rem;
}
@media (max-width: 800px) {
  .container {
    flex-direction: column;
  }
  .container .aside {
    margin: 0 auto;
    max-width: 800px;
    width: 80%;
  }
  .container .aside .contact ul li {
    text-align: center;
  }
  .container .aside .social {
    padding-bottom: 50px;
    border-bottom: 1px solid black;
  }
  .container .main {
    margin: 0 auto;
    max-width: 800px;
    width: 80%;
  }
  .container .main h2 {
    text-align: center;
    line-height: 8rem;
  }
}
